<section>
  <button class="navbtn" (click)="addBooks(0,list)" [style.border]="(list[0].selected) ? '1px solid red' : '1px solid black'">Add</button>
  <button class="navbtn" (click)="deleteBooks(1,list)" [style.border]="(list[1].selected) ? '1px solid red' : '1px solid black'">Delete</button>
</section>

<section>
  <button (click)="back()">Back</button>
</section>


<mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


<p>
  <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
</p>

<p>
  Button with a badge on the left
  <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
</p>
